*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
#Exponiendo secretos para el correcto funcionamiento de la app de prueba
#Estos no deben ser expuestos en aplicaciones de producción
#/secrets.properties
#secrets.properties